@model MarketShare.Models.Producto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Producto</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Empresa.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Empresa.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Categoria.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Categoria.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaPublicacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaPublicacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PathImagen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PathImagen)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProductoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
